.header-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header-panel-header {
	display: flex;
	justify-content: flex-start;
	justify-self: start;
	align-items: center;
}

.header-panel-content {
	display: flex;
	justify-content: center;
	justify-self: center;
}

.header-panel-footer {
	display: flex;
	justify-content: flex-end;
	justify-self: end;
}

.logo {
	margin-right: 10px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.application-name
{
	font-size: 40px;
}