.notification-panel {
	display: flex;
	flex-direction: column;
}

.notification-panel-header {
	display: flex;
	justify-content: flex-start;
	justify-self: start;
}

.notification-panel-content {
	display: flex;
	justify-content: center;
	justify-self: center;
}

.notification-panel-footer {
	display: flex;
	justify-content: flex-end;
	justify-self: end;
}
