@page "/fetchdata"
@inject HttpClient Http

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (units == null)
{
<p><em>Loading...</em></p>
}
else
{
<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var unit in units)
			{
		<tr>
			<td>@unit.Id</td>
			<td>@unit.Name</td>
		</tr>
		}
	</tbody>
</table>
}

@code {
	private IEnumerable<UnitSummaryInformations>? units;

	protected override async Task OnInitializedAsync()
	{
		units = await Http.GetFromJsonAsync<IEnumerable<UnitSummaryInformations>>($"api/queries/{nameof(GetUnitSummaryInformationsList)}");
	}

}
