<header class="header-panel">
	<section class="header-panel-header">
		@HeaderContent
		<slot name="header-panel-header"></slot>
	</section>
	<section class="header-panel-content">
		@ChildContent
		<slot name="header-panel-content"></slot>
	</section>
	<section class="header-panel-footer">
		@FooterContent
		<slot name="header-panel-footer"></slot>
	</section>
</header>



@code {


	[Parameter]
	public RenderFragment? ChildContent { get; set; }
	[Parameter]
	public RenderFragment? HeaderContent { get; set; }
	[Parameter]
	public RenderFragment? FooterContent { get; set; }
}
