<div class="notification-panel">
	<header class="content-panel-header">
		<slot name="notification-panel-header"></slot>
		@HeaderContent
	</header>
	<section class="notification-panel-content">
		<slot name="notification-panel-header"></slot>
		@ChildContent
	</section>
	<footer class="notification-panel-footer">
		<slot name="notification-panel-footer"></slot>
		@FooterContent
	</footer>
</div>
@ChildContent

@code {


	[Parameter]
	public RenderFragment? ChildContent { get; set; }
	[Parameter]
	public RenderFragment? FooterContent { get; set; }

	[Parameter]
	public RenderFragment? HeaderContent { get; set; }

}
