<Theme>
	<div class="application-panel-panel">
		<HeaderPanel ApplicationName="@ApplicationName"></HeaderPanel>
		<CenterPanel>@ChildContent</CenterPanel>
		<FooterPanel></FooterPanel>
	</div>
</Theme>
@code {
	[Parameter]
	public string? ApplicationName { get; set; }

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

}
