<section class="center-panel">
	<MenuPanel></MenuPanel>
	<ContentPanel>@ChildContent</ContentPanel>
	<NotificationPanel></NotificationPanel>
</section>

@code {
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

}

