<section class="header-panel">
	<header class="header-panel-header">
		<Logo />
		<p class="application-name">@ApplicationName</p>
		@HeaderContent
		<slot name="header-panel-header"></slot>
	</header>
	<section class="header-panel-content">
		@ChildContent
		<slot name="header-panel-content"></slot>
	</section>
	<footer class="header-panel-footer">
		@FooterContent
		<slot name="header-panel-footer"></slot>
		<LoginIcon />
	</footer>
</section>



@code {
	[Parameter]
	public string? ApplicationName { get; set; }
	[Parameter]
	public RenderFragment? ChildContent { get; set; }
	[Parameter]
	public RenderFragment? HeaderContent { get; set; }
	[Parameter]
	public RenderFragment? FooterContent { get; set; }
}
