@inherits LayoutComponentBase
<Theme ThemeRenderer="@ThemeRenderer">
	<div class="page">
		<div>
			<NavMenu />
		</div>

		<div class="main">
			<div class="top-row px-4 auth">
				<LoginDisplay />
				<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
			</div>

			<div class="content px-4">
				@Body
			</div>
			<Button>My first button</Button>
		</div>
	</div>
</Theme>
@code
{
	public IThemeRendererer ThemeRenderer => new FastThemeRenderer();
}